<div class="section section1">
	<div class="bg"><img src="/images/section1.jpg" alt=""></div>
	<div class="mail">
		<a class="mail-163" href="#">HYPECINC</a>
	</div>
	<h2 class="p10">COMMITTED</h2>
	<p class="p11">RESPONSIBLE PRODUCTION, PROFESSIONAL TECHNOLOGY AND PEOPLE-ORIENTED SERVICE</p>
</div>

<div class="section section3">
	<div class="bg"><img src="/images/section3.jpg" alt=""></div>
	<!--
	<div class="bg31"></div>
	<div class="bg32"></div>
		-->
	<div class="bg33"></div>
	<strong>COMPANY PROFILE</strong>
	<p class="p3">HYPEC INC IS AN INTERNATIONAL EPC TECHNOLOGY AND SERVICE COMPANY IN OIL AND GAS INDUSTRY, WHICH IS SUB COMPANY OF HBP LOCATED IN BEIJING, CHINA. </p>
</div>

<div class="section section2">
	<div class="bg"><img src="/images/section2.jpg" alt=""></div>
	<div class="bg21"></div>
	<div class="bg22"></div>
	<div class="bg23"></div>
	<!--<strong>COMPANY PROFILE</strong>-->
	<p class="p1">CORPORATE CULTRE: MAKE THE ENNERGY CLEANER AND LIFE BETTER GROUP COMPANY DEVELOPMENT HISTORY</p>
</div>

<div class="section section4">
	<div class="bg"><img src="/images/section4.jpg" alt=""></div>
	<div class="bg41"></div>
	<div class="bg42"></div>
	<div class="bg43"></div>
	<strong>DESIGN CAPACITY</strong>
	<p class="p1">
		OVER 500 PROFESSIONAL TECHNICIANS
		OVER 20 SENIOR EXPERTS 
		OVER 80 ACHIEVEMENTS IN OIL & GAS FIELD SURFACE ENGINEERING 
		OVER 50 NATIONAL PATENTS AND UNIQUE TECHNOLOGIES 
		PROFESSIONALISM IN BOTH FEED AND DETAILED DESIGN 
	</p>
</div>

<div class="section section5">
	<div class="bg"><img src="/images/section5.jpg" alt=""></div>
	<strong>PROCUREMENT CAPACITY</strong>
	<div style="clear:both;"></div>
	<!--<h3>灵活机变，全面为你而生</h3>-->
	<div class="bg51">
		<!--<h4>PROFESSIONAL EPC PROCUREMENT TEAMS </h4>-->
		<p>PROFESSIONAL EPC PROCUREMENT TEAMS </p>
	</div>
	<div class="bg52">
		<!--<h4>虚拟场景写信模式</h4>-->
		<p>COMPLETED INTERNATIONAL PROCUREMENT NETWORK PLATFORM FOCUSING ON PRE-DESIGN, ENGINEERING AND CONSUMABLES</p>
	</div>
	<div class="bg53">
		<!--<h4>独创智能体检</h4>-->
		<p>INTEGRATED GLOBAL LOGISTICS & MARKET RESOURCES </p>
	</div>
	<div class="bg54">
		<!--<h4>全新多帐号关联</h4>-->
		<p>WELL-ESTABLISHED INTERNATIONAL SUPPLIER MANAGEMENT SYSTEM AND PROCUREMENT INTERNAL CONTROL SYSTEM </p>
	</div>
</div>

<div class="section section6">
	<div class="bg"><img src="/images/section6.jpg" alt=""></div>
	<div class="bg61"></div>
	<div class="bg62"></div>
	<strong>PROJECT PERFORMANCE</strong>
	<div class="txt6">
		<p>WE HAVE RICH EXPERIENCES OF EPC SERVICE IN MORE THAN 10 COUNTRIES ACROSS THE GLOBE</p>
	</div>
</div>

<div class="section section7">
	<div class="bg"><img src="/images/section7.jpg" alt=""></div>
	<!--
	<div class="bg71"></div>
	<div class="bg72"></div>
	<div class="bg73"></div>
	-->
		<div class="bg74"><img src="/images/bg74.png" alt=""></div>
	<div class="bg71"></div>
	<div class="bg73">
			<form>
				<div class="formdiv">
					<input type="text" id="name" name="name" class="form-control" placeholder="Username">
				</div>
				<div class="formdiv">
					<input type="text" id="name" name="name" class="form-control" placeholder="title">
				</div>
				<div class="formdiv">
					<textarea id="content" name="content" class="form-control" placeholder="Please input your content!" style="height:100px;"></textarea>
				</div>
				<div class="formdiv" style="text-align:center;">
					<input type="button" value="Contact Us" style="margin-top: 20px;  padding: 10px 30px;">
				</div>
			</form>
	</div>
	
	<strong>Contact Us</strong>
	<div class="txt7">
		<p>SOCIAL RESPONSIBIILITY: HYPEC INC, A PARTNER IN SUSTAINABLE DEVELOPMENT, FOR RESOURCES, FOR ENVIORNMENT, AND FOR PEOPLE</p>
	</div>

</div>
