<div class="section section1">
	<h2 class="p10">COMMITTED</h2>
	<p class="p11">RESPONSIBLE PRODUCTION, PROFESSIONAL TECHNOLOGY AND PEOPLE-ORIENTED SERVICE</p>
	<img src="/sites/all/themes/venture_theme/logo.png" class="logo"/>
	<a class="godown" href="#page2"><span></span></a>
</div>

<div class="section section3">
	<div class="labeltext">
	<a href="/profile"><strong>COMPANY PROFILE</strong></a>
	<p class="p3">HYPEC INC IS AN INTERNATIONAL EPC TECHNOLOGY AND SERVICE COMPANY IN OIL AND GAS INDUSTRY, WHICH IS SUB COMPANY OF HBP LOCATED IN BEIJING, CHINA. 
	</p>
	<a class="godown" href="#page3"><span></span></a>
	</div>
</div>

<div class="section section2">
	<a href="/corporate_culture"><strong>CORPORATE CULTURE</strong></a>
	<p class="p1">MAKE THE ENERGY CLEANER AND LIFE BETTER
	</p>
	<a class="godown" href="#page4"><span></span></a>
</div>

<div class="section section4">
	<a href="/design_capacity"><strong>DESIGN CAPACITY</strong></a>
	<p class="p1">
		<p><span>OVER 500</span> PROFESSIONAL TECHNICIANS</p>
		<p><span>OVER 20</span> SENIOR EXPERTS</p> 
		<p><span>OVER 80</span> ACHIEVEMENTS IN OIL & GAS FIELD SURFACE ENGINEERING</p> 
		<p><span>OVER 50</span> NATIONAL PATENTS AND UNIQUE TECHNOLOGIES</p> 
		<p>PROFESSIONALISM IN BOTH FEED AND DETAILED DESIGN </p>
	</p>
	<a class="godown" href="#page5"><span></span></a>
</div>

<div class="section section5">
	<a href="/procurement_capacity"><strong>PROCUREMENT CAPACITY</strong></a>
	<div style="clear:both;"></div>
	<div class="bg51">
		<p>PROFESSIONAL EPC PROCUREMENT TEAMS </p>
	</div>
	<div class="bg52">
		<p>COMPLETED INTERNATIONAL PROCUREMENT NETWORK PLATFORM FOCUSING ON PRE-DESIGN, ENGINEERING AND CONSUMABLES</p>
	</div>
	<div class="bg53">
		<p>INTEGRATED GLOBAL LOGISTICS & MARKET RESOURCES </p>
	</div>
	<div class="bg54">
		<p>WELL-ESTABLISHED INTERNATIONAL SUPPLIER MANAGEMENT SYSTEM AND PROCUREMENT INTERNAL CONTROL SYSTEM </p>
	</div>
	<a class="godown" href="#page6"><span></span></a>
</div>

<div class="section section6">
	<a href="/project_performance"><strong>PROJECT PERFORMANCE</strong></a>
	<div class="txt6">
		<p>WE HAVE RICH EXPERIENCES OF EPC SERVICE IN MORE THAN 10 COUNTRIES ACROSS THE GLOBE
		</p>
	</div>
	<a class="godown" href="#page7"><span></span></a>
</div>

<div class="section section7">
	
	<strong>SOCIAL RESPONSIBILITY</strong>
	<div class="txt7">
		<p>HYPEC INC, A PARTNER IN SUSTAINABLE DEVELOPMENT, FOR RESOURCES, FOR ENVIRONMENT, AND FOR PEOPLE
		</p>
	</div>
	

	<form>
				<h3 class="form-btn">Contact us</h3>
				<div class="formdiv">
					<input type="text" id="username" name="username" class="form-control" placeholder="Name*">
				</div>
				<div class="formdiv">
					<input type="text" id="useremail" name="useremail" class="form-control" placeholder="Email*">
				</div>
				<div class="formdiv">
					<textarea id="userbody" name="userbody" class="form-control" placeholder="Please input your content!" style="height:100px;"></textarea>
				</div>
				<div class="formdiv" style="text-align:center;">
					<input type="button" value="Contact Us" class="form-btn" style="margin-top: 20px;  padding: 10px 30px;" onclick="contactusform();">
				</div>
	</form>
</div>